{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="card-columns">    
<!--     <div class="row"> -->
      {{ range .Data.Pages }}
<!--       <div class="col-lg-4 col-sm-6 mb-4"> -->
        <a href="{{ .Permalink }}">
          <div class="card zoom-xs shadow border-0 text-center">
            {{ range first 1 .Params.Images }}
            <img src="{{ .image | absURL }}" alt="{{ .Title }}" class="card-img-top">
            {{ end }}
            <div class="card-body">
              <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
              <p>{{ .Params.Description }}</p>
              <div class="mb-4">
                <span class="lead text-primary">{{ .Params.Price }}</span>
                <s>{{ .Params.PriceBefore }}</s>
              </div>
            </div>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "cta4.html" . }}

{{ end }}