{{ with .Site.Data.homepage.events }}
  <section class="section my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center pb-4">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
      <div class="row">
        {{ range .eventItem }}
        <div class="col-lg-4 col-sm-3">
          <a href="{{ .link }}">
            <div class="card zoom-xs border-0 text-center">
              <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
              <div class="card-body">
                <h4>{{ .title | markdownify }}</h4>
                <p>{{ .content | markdownify }}</p>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}