<footer class="section pb-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-lg-5 col-sm-12">
<!--         <h6 class="font-weight-medium mb-4">Important Links</h6> -->
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
          <li class="mb-3"><a class="text-color" href="{{ .URL | absURL }}"><small>{{ .Name }}</small></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-5 col-sm-12">
        <h6 class="font-weight-medium mb-4">Connect With Us</h6>
        <ul class="list-unstyled mb-5">
          {{ with .Site.Params.mobile }}
          <li class="mb-3"><a class="text-color" href="tel:{{ . }}">
            <i class="ti-mobile text-primary mr-2"></i>
            <small>{{ . }}</small></a>
          </li>
          {{ end }}
          <li class="mb-3"><a class="text-color" href="mailto:{{ .Site.Params.email }}">
            <i class="ti-email text-primary mr-2"></i> <small>{{ .Site.Params.email }}</small></a>
          </li>
          {{ with .Site.Params.location }}
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> <small>{{ . }}</small>
          </li>
          {{ end }}          
        </ul>
        <!-- social icon -->
        <ul class="list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-2 col-sm-12">
        <a href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.Params.logofooter | absURL }}" class="img-fluid" alt="{{ .Site.Title }}">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center py-4">
        <small>{{ .Site.Params.copyright | markdownify  }}</small>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- Google Map API -->" | safeHTML }}
  <script src="{{ .Site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
  <script src="{{ .URL | absURL }}"></script>
{{ end }}

<!-- snipcart -->

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- 
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ .Site.Params.googleAnalitycsID }}', 'auto');
  ga('send', 'pageview');
</script> -->

<!--Start of Tawk.to Script
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/60eed2dbd6e7610a49ab3c35/1faiefb5d';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
End of Tawk.to Script-->


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c74f373a726ff2eea5975b7/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

