{{ define "main" }}

<!-- banner -->
{{ if .Site.Data.homepage.banner.enable }}
{{ with .Site.Data.homepage.banner }}
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-7 mb-5 pt-5">
      <h1 class="mt-5">{{ .title | markdownify }}</h1>
      <p>{{ .content | markdownify }}</p>
      {{ with .button1 }}
        <a href="{{ .link }}" class="btn btn-primary mr-3 mb-2">{{ .label }}</a>
      {{ end }}
      {{ with .button2 }}
        <a href="{{ .link }}" class="btn btn-outline-primary mr-3 mb-2">{{ .label }}</a>
      {{ end }}      

      {{ with .video }}
      <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal"
        class="text-color video-modal"><i
          class="ti-control-play bg-gradient hover-shadow btn-play mr-2"></i><span>Watch Video</span></a>
      {{ end }}
      
      <!-- Modal -->
      <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content border-0 rounded-0">
            <iframe width="560" height="315" src="" id="video" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mb-5">
      <img src="{{ .image | absURL }}" class="img-fluid rounded" alt="Neoholistic Shop">
    </div>
  </div>
</div>
{{ end }}
{{ end }}
<!-- /banner -->



{{ if .Site.Data.homepage.cta.enable }}
  {{ partial "cta.html" . }}
{{ end }}


<!-- about -->
{{ if .Site.Data.homepage.about.enable }}
{{ with .Site.Data.homepage.about }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->


<!-- promo video -->
{{ if .Site.Data.homepage.video.enable }}
{{ with .Site.Data.homepage.video }}
<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-6">
        <div class="img-border rounded mb-5 mb-md-0">
          <img src="{{ .videoThumb | absURL }}" alt="video thumb" class="img-fluid rounded">
          <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal2"
            class="text-color video-modal content-center"><i class="ti-control-play bg-gradient btn-play-lg"></i></a>
          <!-- Modal -->
          <div class="modal fade" id="videoModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content border-0 rounded-0">
                <iframe width="560" height="315" src="" id="video2" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /promo video -->


<!-- animals -->
{{ if .Site.Data.homepage.services.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        {{ with .Site.Data.homepage.services }}
        <h2>{{ .title | markdownify }}</h2>
        {{ end }}
      </div>
      {{ range first 3 (where .Site.RegularPages "Type" "menu") }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card border-0 text-center">
          <a href="{{ .Permalink }}">
            {{ range first 1 .Params.Images }}
            <img src="{{ .image | absURL }}" alt="{{ .Title }}" class="card-img-top">
            {{ end }}
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            <div class="mb-4">
              <span class="lead text-primary">{{ .Params.Price }}</span>
              <s>{{ .Params.PriceBefore }}</s>
            </div>
            <a href="{{ .Permalink }}" class="btn btn-sm btn-outline-primary">View</a>                        
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /animals -->


<!-- material -->
{{ if .Site.Data.homepage.events.enable }}
  {{ partial "events.html" . }}
{{ end }}
<!-- /material -->

<!-- advantage -->
{{ if .Site.Data.homepage.advantage.enable }}
  {{ partial "advantage.html" . }}
{{ end }}
<!-- /advantage -->



{{ if .Site.Data.homepage.cta2.enable }}
  {{ partial "cta2.html" . }}
{{ end }}

<!-- testimonial -->
{{ if .Site.Data.homepage.testimonial.enable }}
{{ with .Site.Data.homepage.testimonial }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider">
      {{ range .testimonialItem }}
      <div class="col-4">
        <div class="card border-primary text-center">
          <div class="card-body">
            <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}">
            <p class="quoted">{{ .content | markdownify }}</p>
            <h6 class="font-weight-medium">{{ .name | markdownify }}</h6>
            <small>{{ .designation | markdownify }}</small>
            <ul class="list-inline rating {{ .rating | lower }} mt-3">
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonial -->

{{ end }}