{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ .Title }}</h2>
      </div>
    </div>
  </div>
</section>


{{ if .Site.Data.contact.contact.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        {{ with .Site.Data.contact.contact.office }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ end }}

        <ul class="list-unstyled">
          <li class="mb-3"><a class="text-color" href="tel:{{ .Site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
             {{ .Site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ .Site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i>{{ .Site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i>{{ .Site.Params.location }}
          </li>
        </ul>
      </div>
      <div class="col-lg-3 offset-lg-1 col-sm-6">
        {{ with .Site.Data.contact.contact.opennigHour }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <ul class="list-unstyled">
          {{ range .dayTimeList }}
          <li class="mb-3">{{ .dayTime | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-lg-4">
        <h3 class="
        mb-4">Contact us</h3>        
        <form action="{{ .Site.Params.contact.formAction }}" method="POST">
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
          <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          <button type="submit" value="send" class="btn btn-block btn-outline-primary rounded">Send Now</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}



{{ partial "cta.html" . }}

{{ end }}